<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ARtour.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E3D36562373AF7B001F5A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E3D366C2373AF7E001F5A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E3D36772373AF7E001F5A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
